
p {
	margin: 0;
}
.form-order {
	background: linear-gradient(180deg, rgba(36, 33, 223, 0.68) 0%, rgba(36, 33, 223, 0.00) 100%);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding-top: 20px;
}
.img-wrap {
	width: 365px;
	height: 348px;
	overflow: hidden;
	border-radius: 20px;
	margin-bottom: 23px;
	box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.img {
	width: 100%;
	display: inline-block;
}
.info-product {
	width: 100%;
	border-radius:  56px 56px 0 0;
	background: #FFF;
	padding: 0 28px;
	box-sizing: border-box;
}
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.price {
	display: flex;
	justify-content: space-between;
	color: #E80;
	font-size: 18px;
	font-weight: 800;
	line-height: 50px;
}
.price p:first-child {
	color: #000;
}
.description {
	text-align: left;
}
.description p {
	color: #0A0A0A;
	font-size: 15px;
	font-weight: 300;
	line-height: 20px;
}
.quantity-label {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.quantity-label p,
.description p:first-child,
.delivery p{
	font-size: 18px;
	font-weight: 800;
	line-height: 50px;
}
.quantity-label input {
	max-width: 50px;
}
.delivery {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}
.btn-wrap {
	text-align: right;
}
.btn {
	border-radius: 10px;
	background: rgba(109, 68, 225, 0.59);
	color: #FFF;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	padding: 14px 48px;
	border: none;
	display: inline-block;
	margin-top: 50px;
	cursor: pointer;
}
.error-quantity {
	color: red;
	text-align: right;
}
.error-phone {
	color: red;
	margin-top: 10px;
	text-align: left;
}